---
---

@import "reset";

$primary-color: #571219;
$header-height: 220px;
$bottom-width: 80%;

$gallery-width: 90%;
$gallery-img-width: 70%;
$gallery-more-width: 100% - (100% - $gallery-img-width) / 2;

/*Only needed form the template page*/
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    display: table;
}

.main {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.main p {
    display: block;
    text-align: center;
    margin-top: 2.5em;
    font-weight: bold;
}

/* Generic page styles*/

body {
    font-size: 15px;
    background-color: #f5f5f5;
    color: $primary-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: $primary-color;
}

header,
.top-content {
    border-bottom: 1px solid $primary-color;
}

#logo {
    display: block;
    float: left;
    margin-left: 80px;
}

header:after,
#contact-bottom-content:after,
.gallery-table:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}

nav {
    float: right;
    margin-right: 45px;
}

header {
    width: 100%;
    height: $header-height;

    a {
        display: inline-block;
        line-height: $header-height;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
    }
}

a.nav-link {
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: $header-height;
    padding: 0 16px;
    text-transform: uppercase;
}

a.nav-link:hover {
    background: $primary-color;
    color: #fffff0;
}

#logo img {
    display: inline-block;
    height: 180px;
    vertical-align: middle;
}

.bottom-content {
    width: $bottom-width;
    margin: 0 auto;
    display: block;
    line-height: 1.5em;
    margin-bottom: 60px;
}

.bottom-content h3,
.bottom-content img.profile {
    margin-top: 40px;
    font-size: 24px;
}

.bottom-content p.first {
    margin-top: 40px;
}

.bottom-content p,
.bottom-content ul {
    margin-top: 20px;
}

.bottom-content li::before {
    font-family: FontAwesome;
    content: "\f105";
    padding-left: 10px;
    padding-right: 7px;
}

.top-content {
    text-align: center;
    color: #fff;
    min-height: 330px;
    position: relative;
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.top-content h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 40px;
    opacity: 0.8;
}

#front-top-content {
    background-image: url(../img/gallery/referenzwohnung/esszimmer/large/1600x1067/EZ1.jpg);
    transition: background-image 1s ease-in-out;
    min-height: 80vh;
    animation-name: chg_bg;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes chg_bg {
    0%, 30%    {background-image: url(../img/gallery/referenzwohnung/esszimmer/large/1600x1067/EZ1.jpg);}
    33%, 63%   {background-image: url(../img/gallery/referenzwohnung/wohnzimmer/large/1600x1067/WOZ1.jpg);}
    66%, 99%   {background-image: url(../img/gallery/referenzwohnung/schlaf/large/1600x1067/SchZ3.jpg);}
}

#offer-top-content {
    background-image: url(../img/plan2.jpg);
}

#gallery-top-content {
    background-image: url(../img/pattern_160.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    min-height: 80px;
}

#contact-top-content {
    background-image: url(../img/contact.jpg);
    background-position: top;
}

.bottom-content .fa {
    width: 2em;
    display: inline-block;
}

.bottom-content li.placeholder {
    padding-left: 2em;
}

#offer-bottom-content ul {
    margin-top: 5px;
}

.gallery {
    margin-top: 40px;
    width: 100%;

    h3,
    a.more {
        display: block;    
        margin: 0 auto;
    }

    a.more {
        width: $gallery-more-width;
    }

    h3 {
        width: $gallery-width;
    }

    .gallery-table {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        display: inline-block;
    }

    .gallery-cell-item {
        float: left;
        width: 50%;
        margin: 5px 0;

        img {
            width: $gallery-img-width;
            margin: 0 auto;
            display: block;
        }
    }
}

.left {
    float: left;
}

.width50 {
    width: 50%;
}

.width70 {
    width: 70%;
}

.width30 {
    width: 30%;
}

.bottom-content img {
    width: 100%;
    border: 1px solid $primary-color;
}

#contact-bottom-content {

    li::before {
        content: "";
    }

    h3.name {
        margin-top: 70px;
    }

    h3.form {
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .text-center {
        text-align: center;
    }

    img.profile {
        width: 200px;
    }

    input,
    textarea {
        font-size: 20px;
        color: $primary-color;
        padding: 0.1em 0em;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid $primary-color;
        background: white;
        outline: none;
        width: 100%;
        height: 30px;
    }

    textarea {
        height: 90px;
    }

    label {
        color: #AAA;
        left: 0.08em;
        top: 0em;
        margin-top: 20px;
        display: block;
    }

    button {
        display: block;
        margin: 0 20px 0 0;
        padding: 5px 15px;
        font-size: 16px;
        box-shadow: none;
        border-radius: 0;
        color: #fff;
        background-color: $primary-color;
        text-shadow: -1px 1px #781922;
        border: none;
        margin-top: 20px;
    }

    button:focus {
        outline: none;
    }

    button:hover {
        background-color: #a82330;
        text-shadow: -1px 1px #470f14;
    }

    button:active {
        background-color: #470f14;
        text-shadow: -1px 1px #360b10;
    }
}