---
---

@import "reset";

$background-color: #F5F5F5;
$primary-color: #571219;
$header-content-xs-margin: 10px;
$header-content-margin: 30px;

$transition: 0.4s ease-in-out;

/*Only needed form the template page*/
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    display: table;
}

.main {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.main p {
    display: block;
    text-align: center;
    margin-top: 2.5em;
    font-weight: bold;
}

/* Generic page styles*/

body {
    font-size: 15px;
    background-color: $background-color;
    color: $primary-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: $primary-color;
    cursor: pointer;
}

header,
.top-content {
    border-bottom: 1px solid $primary-color;
}

footer {
    display: block;
    font-size: 80%;

    ul {
        list-style-type: none;
        padding: 7px;
    }

    li {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .fb-link {
        display: inline-block;
        font-size: 16px;
        margin-top: -2px;
    }
}

#logo {
    display: block;
    float: left;
    margin-left: $header-content-xs-margin;
}

header:after,
.header-content:after,
.bottom-content:after,
#contact-bottom-content h3.form:before,
footer ul:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}

nav {
    float: right;
    margin-right: $header-content-xs-margin;
}

nav label {
    display: none;
}

#menu-toggle {
    display: none;
}

#content {
    padding-top: 120px;
    transition: padding-top $transition;

    &.scrolled {
        padding-top: 55px;
    }
}

header {
    width: 100%;
    z-index: 5;
    position: fixed;
    background-color: $background-color;

    #logo img {
        display: inline-block;
        height: 110px;
        vertical-align: middle;
        transition: height $transition;
    }

    a {
        display: inline-block;
        line-height: 120px;
        transition: line-height $transition;
    }

    &.scrolled {
        #logo img {
            height: 50px;
        }

        a {
            line-height: 55px;
        }
    }

    @media only screen and (min-width: 700px) {
        #logo img {
            height: 180px;
        }

        a {
            line-height: 220px;
        }

        #content {
            padding-top: 220px;
        }

        &.scrolled {
            #logo img {
                height: 90px;
            }

            a {
                line-height: 100px;
            }
        }
    }

    a.nav-link {
        display: block;
        font-size: 14px;
        font-weight: bold;
        padding: 0 5px;
        text-transform: uppercase;
    }

    a.nav-link:hover {
        background: $primary-color;
        color: #fffff0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
    }
}

@media only screen and (min-width: 700px) {
    #content {
        padding-top: 220px;

        &.scrolled {
            padding-top: 100px;
        }
    }
}

.header-content,
.bottom-content,
.footer-content {
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: #F2F2F2;
    box-sizing: border-box;
}

.footer-content {
    border-top: 1px solid #D6D6D6;
}

@media only screen and (min-width: 1000px) {
    .header-content,
    .bottom-content,
    .footer-content {
        width: 90%;
        border-left: 1px solid #D6D6D6;
        border-right: 1px solid #D6D6D6;
    }
}

@media only screen and (min-width: 1200px) {
    .header-content,
    .bottom-content,
    .footer-content {
        width: 80%;
        max-width: 1250px;
    }
}

.bottom-content {
    line-height: 1.5em;
    padding: 0 10px 20px 10px;
}

.top-content h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    opacity: 0.8;
}

@media only screen and (min-width: 700px) {
    .bottom-content {
        padding: 0 50px 20px 50px;
    }

    #contact-bottom-content ul {
        margin-top: 30px;
    }

    header {
        #logo {
            margin-left: $header-content-margin;
        }

        nav {
            margin-right: $header-content-margin;
        }

        a.nav-link {
            padding: 0 16px;
        }
    }

    .top-content h2 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 40px;
        opacity: 0.8;
    }
}

@media all and (max-width: 700px) and (min-width: 0px) {
    nav label {
        display: block;
        line-height: 120px;
        font-size: 26px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        color: $primary-color;
        cursor: pointer;
    }

    header.scrolled nav label{
        line-height: 55px;
    }

    nav label:hover {
        background: $primary-color;
        color: #fffff0;
    }

    nav ul {
        display: none;
    }

    nav li {
        width: 100%;
        border-bottom: 1px solid $primary-color;
    }

    nav li:first-child {
        border-top: 1px solid $primary-color;
    }

    nav li a.nav-link {
        line-height: 50px;
        background: $background-color;
        padding-left: 20px;
    }

    #menu-toggle:checked + ul {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
    }

    nav label:active ul {
        //   display: none;
    }
}

.bottom-content h3,
.bottom-content img.profile {
    margin-top: 24px;
    font-size: 24px;
}

.bottom-content p.first {
    padding-top: 40px;
}

.bottom-content p,
.bottom-content ul {
    padding-top: 20px;
}

.bottom-content li::before {
    font-family: FontAwesome;
    content: "\f105";
    padding-left: 10px;
    padding-right: 7px;
}

.top-content {
    text-align: center;
    color: #fff;
    min-height: 330px;
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#front-top-content {
    background-image: url(../img/gallery/referenzwohnung/esszimmer/large/1600x1067/EZ1.jpg);
    transition: background-image 1s ease-in-out;
    min-height: 80vh;
    animation-name: chg_bg;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

/*preload images*/
#front-bottom-content {
    background-position-x: -9999px;
    background-position-y: -9999px;
    background-repeat: no-repeat;
    animation-name: chg_bg;
    animation-duration: 2s;
}

@keyframes chg_bg {
    0%, 30% {
        background-image: url(../img/gallery/referenzwohnung/esszimmer/large/1600x1067/EZ1.jpg);
    }

    33%, 63% {
        background-image: url(../img/gallery/referenzwohnung/wohnzimmer/large/1600x1067/WOZ1.jpg);
    }

    66%, 99% {
        background-image: url(../img/gallery/referenzwohnung/schlaf/large/1600x1067/SchZ3.jpg);
    }
}

#offer-top-content {
    background-image: url(../img/plan2.jpg);
}

#gallery-top-content {
    background-image: url(../img/pattern_160.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    min-height: 80px;
}

#contact-top-content {
    background-image: url(../img/contact.jpg);
    background-position: top;
}

.bottom-content .fa {
    width: 2em;
    display: inline-block;
}

.bottom-content li.placeholder {
    padding-left: 2em;
}

#offer-bottom-content ul {
    margin-top: 5px;
}

.gallery-card {
    float: left;

    $img-xs-width: 95%;
    $img-xs-margin: 50% - $img-xs-width / 2;

    &.c2,
    &.c1 {
        width: 100%;

        img {
            width: $img-xs-width;
            margin: 0 $img-xs-margin;
        }

        h3 {
            margin-left: $img-xs-margin - 2%;
        }

        a.more {
            margin-left: $img-xs-margin + 2%;
        }
    }

    a:nth-child(2) {
        display: none;
    }

    @media only screen and (min-width: 700px) {
        $img-sm-width: 85%;
        $img-sm-margin: 50% - $img-sm-width / 2;

        &.c2,
        &.c1 {
            width: 100%;

            img {
                width: $img-sm-width;
                margin: 0 $img-sm-margin;
            }

            h3 {
                margin-left: $img-sm-margin - 2%;
            }

            a.more {
                margin-left: $img-sm-margin + 2%;
            }
        }
    }

    @media only screen and (min-width: 800px) {
        $img-width: 33%;

        &.c2 {
            $img-margin: 25% - $img-width / 2;

            width: 100%;

            img {
                width: $img-width;
                margin: 0 $img-margin;
            }

            a:nth-child(2) {
                display: block;
            }

            h3 {
                margin-left: $img-margin - 2%;
            }

            a.more {
                margin-left: $img-margin + 2%;
            }
        }

        &.c1 {
            width: 50%;

            img {
                width: $img-width * 2;
                margin: 0 50% - $img-width;
            }

            h3 {
                margin-left: 50% - $img-width - 4%;
            }

            a.more {
                margin-left: 50% - $img-width + 4%;
            }
        }
    }

    h3,
    a.more {
        display: block;
    }

    a.more {
        margin-bottom: 20px;
    }

    .gallery-img-container {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
        display: inline-block;

        img {
            float: left;
            box-sizing: border-box;
        }
    }
}

.text {
    width: 100%;
    display: inline-block;
}

.profile-img-container {
    display: block;
}


@media only screen and (min-width: 600px) {
    #contact-bottom-content {
        .text {
            width: 70%;
        }

        .profile-img-container {
            float: right;
            width: 30%
        }
    }
}

@media only screen and (min-width: 700px) {
    .text {
        width: 70%;
    }

    .profile-img-container {
        float: right;
        width: 30%
    }
}

.bottom-content img {
    width: 100%;
    border: 1px solid $primary-color;
}

.text-center {
    text-align: center;
}

img.profile {
    max-width: 200px;
}

#contact-bottom-content {

    li::before {
        content: "";
    }

    h3.name {
        margin-top: 50px;
    }

    h3.form {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    input,
    textarea {
        font-size: 20px;
        color: $primary-color;
        padding: 0.1em 0em;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid $primary-color;
        background: white;
        outline: none;
        width: 100%;
        height: 30px;
    }

    textarea {
        height: 90px;
    }

    label {
        color: #AAA;
        left: 0.08em;
        top: 0em;
        margin-top: 20px;
        display: block;
    }

    button {
        display: block;
        margin: 0 20px 0 0;
        padding: 5px 15px;
        font-size: 16px;
        box-shadow: none;
        border-radius: 0;
        color: #fff;
        background-color: $primary-color;
        text-shadow: -1px 1px #781922;
        border: none;
        margin-top: 20px;
    }

    button:focus {
        outline: none;
    }

    button:hover {
        background-color: #a82330;
        text-shadow: -1px 1px #470f14;
    }

    button:active {
        background-color: #470f14;
        text-shadow: -1px 1px #360b10;
    }
}
