---
layout: page
title: Galerie - Bencze Design
---

<div id="gallery-top-content" class="top-content">
    <h2>Galerie</h2>
</div>
<div class="bottom-content">
    <div class="popup-gallery">
    
        <div class="left">
        {% for image in site.static_files | sort: 'image.path' %}
        {% if image.path contains 'img/gallery/left' %}
            <a href="{{ image.path }}"><img src="{{ image.path }}" ></a>
        {% endif %}
        {% endfor %}
        </div>

        <div class="right">
        {% for image in site.static_files | sort: 'image.path' %}
        {% if image.path contains 'img/gallery/right' %}
            <a href="{{ image.path }}"><img src="{{ image.path }}" ></a>
        {% endif %}
        {% endfor %}
        </div>
    
    </div>
</div>
<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Magnific Popup core JS file -->
<script src="{{ site.github.url }}/js/jquery.magnific-popup.js"></script>
<script src="{{ site.github.url }}/js/popup.js"></script>