---
layout: page
title: Angebot - Bencze Design
home-staging-title: Galerie (vorher/nachher)
---

<div id="offer-top-content" class="top-content">
    <h2>Angebot</h2>
</div>
<div id="offer-bottom-content" class="bottom-content">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Home Staging</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Home Styling</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3">Wohnberatung</label>

    <section id="content1">

        <h3>Herkunft</h3>
        <p>
            Der Begriff Home Staging bedeutet Home -Zuhause- und -Staging- auf der Bühne. Home Staging wird in den USA seit den 1970er
            Jahren angewendet. In den letzten Jahren ist Home Staging auch in anderen Ländern, u.a. Schweden und Großbritannien
            populär geworden, wo es auch ''property presentation'' oder ''property styling'' genannt wird. Auch in der Schweiz
            gewinnt Home Staging immer mehr an Bedeutung.
        </p>
        <h3>Wie funktioniert Home Staging?</h3>
        <p>
            Durch Home Staging wird eine Immobilie für den Verkauf professionell hergerichtet. Es gilt die Immobilie auf Hochglanz zu
            polieren und die besten Eigenschaften hervorzuheben. Leere Immobilien heben sich in der Masse nicht ab.

        </p>
        <p>
            Mit dem gezielten Einsatz von geschmacksneutralen Möbeln, Licht, Farben und Accessoires wird die Schokoladenseite einer Immobilie
            in Szene gesetzt, und es wird dafür gesorgt, dass sich Kaufinteressenten in das Verkaufsobjekt verlieben.

        </p>
        <h3>Statistik</h3>
        <p>
            Beim Verkauf einer Immobilie ist es wichtig, dass sie so schnell als möglich zum besten Preis verkauft wird. 87%
            der Frauen und 77% der Männer muss die Immobilie auf den ersten Blick gefallen, damit sie sich zum Kauf entscheiden.

        </p>
        <p class="bold">Denn der erste Eindruck ist oft der Entscheidende!</p>
        <p>
            Statistiken zeigen, dass 94% aller Objekte nach spätestens 13 Wochen verkauft sind davon 15.2% bereits nach der ersten
            Besichtigung. Der Verkaufspreis liegt um ca. 10% höher als bei nicht gestagten Immobilien.
        </p>


        <h3>Was kann Home Staging nicht?</h3>
        <ul>
            <li>Durch Home Staging dürfen keine Mängel versteckt werden.</li>
            <li>Home Staging kann keine negativen äusseren Einflüsse wie z.B. ungünstige Lage und Umgebung und den Lärm verhindern.</li>
        </ul>

        <h3>Wer nutzt Home Staging?</h3>
        <ul>
            <li>Privatpersonen</li>
            <li>Immobilienmakler (für Verkauf und Vermietung)</li>
            <li>Bauunternehmer / GU</li>
            <li>Banken</li>
        </ul>

        <h3>Vorteile auf einen Blick</h3>
        <ul>
            <li>Erhöhung der Nachfrage durch professionelle und emotionenerweckende Präsentation der Immobilie</li>
            <li>Schnellerer Verkauf und dadurch Einsparung von anfallenden Unterhaltskosten</li>
            <li>Erreichung eines realistischen Höchstpreises und damit Erzielung eines höheren Gewinnes </li>
            <li>Reduzierung von Besichtigungen und den damit verbundenen Kosten</li>
            <li>Mehr Kaufinteressenten dank aussagekräftigeren Fotos</li>
            <li>Positive Gefühle wie Wohlfühlgefühl fördern den Kaufwunsch</li>
            <li>Negative Gefühle wie Unwohlsein verhindern den Kaufwunsch</li>

        </ul>
        {% include gallery-homestaging.html %}
        <div class="accordion">
            <div class="option">
                <input type="checkbox" id="toggle1" class="toggle" />
                <label class="title" for="toggle1">Dienstleistungen</label>
                <div class="accordion-content">

                    <ul>
                        <li>Besichtigung und Beratung</li>
                        <li>Kleine Renovationsarbeiten</li>
                        <li>Geschmacksneutrale Einrichtung von Musterwohnungen</li>
                        <li>Möblierung von einzelnen Räumen oder ganzen Objekten (bewohnt und unbewohnt)</li>
                        <li>Schaffen eines Wohlfühlambiente durch Licht, Farben, Accessoires und Pflanzen</li>
                        <li>Vorher-/Nachher-Effekte mit Fotos dokumentiert</li>
                        <li>Vermietung von zusätzlichen Wohnaccessoires</li>
                        <li>Verpflegungspaket für Kundenempfang</li>
                        <li>Professionelles Fotoshooting</li>
                    </ul>
                </div>
            </div>
            <div class="option">
                <input type="checkbox" id="toggle2" class="toggle" />
                <label class="title" for="toggle2">Angebotspakete</label>
                <div class="accordion-content">
                    <h4>Paket 1 - Musterwohnung</h4>
                    <ul>
                        <li>Erstbesichtigung und Beratung</li>
                        <li>
                            Zielgruppengerechte Einrichtung durch Mietmöbel oder Möbelmaketten. Möbelmaketten sind kostengünstige Möblierungssysteme
                            aus Karton.
                        </li>
                        <li>Schaffen eines gemütlichen Wohnambiente mit Beleuchtung, Bilder, Textilien, Accessoires und Pflanzen</li>
                        <li>Vorher-/Nachher-Effekte mit Fotos dokumentiert</li>
                    </ul>
                    <p>
                        Somit können sich Ihre Kunden Raumaufteilung, Proportionen und Funktionen bestens vorstellen und daraus folgt eine raschere
                        Kaufentscheidung.
                    </p>
                    <p>Preise</p>
                    <ul>
                        <li>Erstbesichtigung und Beratung sind kostenlos.</li>
                        <li>
                            Je nach Grösse und Zustand der Immobilie sehr variierend. Einrichtung z.B. einer 31/2-Zimmerwohnung (inkl.
                            Auf-/und Abbau und 3-monatiger Möbelmiete) ab CHF 3'000,-
                        </li>
                        <li>Exklusive Einrichtung mit hochwertiger Möblierung ab CHF 8'000,-</li>
                        <li>Arbeitsaufwand und Transportkosten werden separat verrechnet.</li>
                    </ul>
                    <p>
                        Dieser Betrag zahlt sich aus und kann auf den Verkaufspreis aufgeschlagen werden.
                    </p>
                    <p>Rohbau Staging</p>
                    <ul>
                        <li>z.B. Tag der Offenen Tür.</li>
                        <li>Nur für ein Wochenende verwandelt sich die Immobilie für ein wohnliches Heim.</li>
                    </ul>
                    <h4>Paket 2 – Rundum-Paket für unbewohnte (z.B. geerbte) Immobilien</h4>
                    <p class="bold">Sie können sich entspannt zurücklehnen, weil ich mich um alles kümmere.</p>
                    <ul>
                        <li>Erstbesichtigung und Beratung </li>
                        <li>Evt. Entsorgung alter Möbel</li>
                        <li>Kleine Renovierungsarbeiten (je nach Zustand des Objektes)</li>
                        <li>Reinigung</li>
                        <li>Möblierung aller Räume</li>
                        <li>Schaffen eines gemütlichen Wohnambiente mit Beleuchtung, Bilder, Textilien, Accessoires und Pflanzen</li>
                        <li>Gartenarbeiten (wenn nötig)</li>
                        <li>Vorher-/Nachher-Effekte mit Fotos dokumentiert</li>
                    </ul>

                    <p>Preise</p>
                    <ul>
                        <li>Erstbesichtigung und Beratung sind kostenlos.</li>
                        <li>
                            Je nach Grösse und Zustand der Immobilie sehr variierend. Der Richtwert für dieses Paket beläuft sich auf
                            0.5% - 3% des Verkaufspreises.
                        </li>
                    </ul>

                    <h4>Paket 3 – Bewohnte Immobilien (1-Tages-Kur)</h4>
                    <p class="bold">Ich berate und setze gemeinsam mit Ihnen um.</p>
                    <ul>
                        <li>Erstbesichtigung und Beratung</li>
                        <li>Erstellen eines Massnahmenkataloges</li>
                        <li>Gemeinsame Neugestaltung Ihrer Immobilie (falls erwünscht)</li>
                        <li>Dekoration mit Accessoires, Bilder, Textilien, Pflanzen</li>
                        <li>Vorher-/Nachher-Effekte mit Fotos </li>
                        <li>Tipps und Checkliste für eine optimale Präsentation bei Besichtigungen </li>
                    </ul>
                    <p>
                        Bei bewohnten Immobilien geht es darum, mit gezielten Handgriffen und Massnahmen die Immobilie optimal für den Auftritt im
                        Netz und danach für die Besichtigung der Interessenten vorzubereiten.
                    </p>
                    <p>Preise</p>
                    <ul>
                        <li>Erstbesichtigung und Beratung sind kostenlos.</li>
                        <li>Tagespauschale (Dauer: 8 Stunden) CHF 950,-</li>
                    </ul>

                    <h4>Paket 4 – „Do it yourself“ für bewohnte Immobilien</h4>
                    <p class="bold">Ich berate, Sie setzen um.</p>
                    <ul>
                        <li>Erstbesichtigung und Analyse der IST-Situation</li>
                        <li>Erstellen eines Massnahmenkataloges</li>
                        <li>Sie setzen die Vorschläge selbst um.</li>
                        <li>Tipps und Checkliste für eine optimale Präsentation bei Besichtigungen</li>
                    </ul>
                    <p>Preise</p>
                    <ul>
                        <li>Pauschal (Dauer: 2 Stunden) CHF 350,-</li>
                    </ul>

                    <h4>Zusatzleistungen</h4>
                    <ul>
                        <li>Mietaccessoires</li>
                        <li>
                            Verpflegungspaket für Kundenempfang (z.B. Kaffee, Tee, Softdrinks, Wein und Sekt). Das Paket wird nach Ihren
                            Wünschen zusammengestellt. Dazu liefere ich Ihnen das passende Geschirr. So können Sie Ihre Kunden als
                            aufmerksamen Gastgeber verwöhnen.
                        </li>
                        <li>Professionelles Fotoshooting</li>
                    </ul>
                    <p>Preise</p>
                    <ul>
                        <li>Mietaccessoires und Verpflegungspaket nach Auswahl</li>
                        <li>Professionelles Fotoshooting ab CHF 500,-</li>
                    </ul>
                    <p>
                        Habe ich Ihr Interesse geweckt? Gerne berate ich Sie vor Ort und unterbreite Ihnen meine Offerte. Ich freue mich, Sie mit
                        meinem Home Staging Konzept beim Verkauf oder bei der Vermietung Ihrer Immobilie zu unterstützen.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="content2">
        <p>
            Sie sind schon in Ihrem Zuhause eingerichtet, aber Sie möchten neuen Schwung in Ihre Wohnung bringen? Mit meinem Home Styling
            Angebot verändere ich bereits eingerichtete Wohnungen oder einzelne Räume und peppe sie mit neuen Möbelstücken
            und Dekoration auf.
        </p>
        <p>
            Gerne unterstütze ich Sie mit Tipps und Tricks, damit Sie Ihre Wohnträume verwirklichen können. Die Beratungen finden in
            Ihren eigenen vier Wänden statt.
        </p>
        <p class="bold">
            kleine Veränderung – GROSSE Wirkung!
        </p>

        <p>
            Dienstleistungen Bencze Design:
            <ul>
                <li>Erstbesichtung und Besprechung Ihrer Vorstellungen</li>
                <li>Erstellen eines Konzeptes</li>
                <li>Erstellen eines Massnahmenkataloges</li>
                <li>Umsetzung Ihrer Wünsche durch Bencze Design</li>
            </ul>
        </p>
        <p>
            Preise Bencze Design
            <ul>
                <li>3 Stunden pauschal CHF 320,-</li>
                <li>Restliche Aktivitäten nach Aufwand</li>
            </ul>
        </p>
        </p>
    </section>

    <section id="content3">
        <p>
            Was bedeutet für Sie einrichten und gestalten? Abenteuer oder Erlebnis? Freude oder Genuss? Oder sogar Leidenschaft? Für
            mich bedeutet es Balance und Harmonie - ein harmonisches Zusammenspiel von Farben, Formen, Materialien und Proportionen.
            So können Sie einen ganz persönlichen Kraftort schaffen. Möchten Sie Ihre Wohnträume mit mir verwirklichen?
        </p>
        <h3>Beraten</h3>
        <p>
            Sie planen den Umbau oder die Renovation Ihrer Wohnung oder möchten ein einzelnes Zimmer verändern? Gerne berate ich Sie
            vor Ort - einmalig oder im Rahmen eines Gesamtprojektes. Dabei stehen für mich Ihre Vorstellungen und Wünsche
            im Mittelpunkt – damit Sie sich in Ihrem „neuen“ Zuhause wohlfühlen können.
        </p>
        <h3>Planen</h3>
        <p>
            Ich erarbeite für Sie ein Raum- und/oder Einrichtungskonzept, mache Ihnen Vorschläge für die Auswahl der Möbel inklusive
            Küche und Bäder. Wenn Sie es bunt mögen, erstelle ich auch ein passendes Farbkonzept.
        </p>
        <h3>Einrichten</h3>
        <p>
            Bei der Umsetzung stehe ich Ihnen fachkundig zur Seite und bin Anlaufstelle für Lieferanten und Handwerker. Als lieferantenunabhängige
            Beraterin kann ich auf Ihren bevorzugten Wohnstyle und Ihr individuelles Budget eingehen.
        </p>
        <p class="bold">
            kleine Veränderung – GROSSE Wirkung!
        </p>
        <p>
            Dienstleistungen Bencze Design:
            <ul>
                <li>Wohnberatung</li>
                <li>Einrichtungsberatung</li>
                <li>Grundrisskonzepte/Raumkonzepte</li>
                <li>Farbkonzepte</li>
                <li>Lichtkonzepte</li>
                <li>Materialisierung</li>
                <li>Bad- und Küchenplanung</li>
                <li>Einkaufshilfe für Möbel, Licht, Vorhänge, Teppiche</li>
                <li>Dekoration</li>
                <li>Projektunterstützung</li>
            </ul>
        </p>
        <p>
            Gerne berate ich Sie bei:
            <ul>
                <li>Neubauten von Häuser, Wohnungen, Ferienwohnungen</li>
                <li>Umbauten und Renovationen</li>
                <li>Veränderung einzelner Zimmer</li>
                <li>Büros oder einzelne Bürobereiche</li>
                <li>Restaurant/Café, Lokale</li>
                <li>Hotelzimmer/Spa-Bereich</li>
            </ul>
        </p>

        <div class="accordion">
            <div class="option">
                <input type="checkbox" id="toggle3" class="toggle" />
                <label class="title" for="toggle3">Angebotspakete</label>
                <div class="accordion-content">

                    <h4>
                        Paket Smaragd - Preise sind Richtpreise: ab CHF 300,-
                    </h4>
                    <ul>
                        <li>Erstbesichtigung und Besprechung Ihrer Vorstellungen vor Ort</li>
                        <li>Stimmungsbild auswählen</li>
                        <li>Erstellen eines Ideenkataloges</li>
                    </ul>
                    <h4>
                        Paket Saphir - Preise sind Richtpreise: ab CHF 500,-
                    </h4>
                    <ul>
                        <li>Paket Smaragd, plus</li>
                        <li>Erstellung eines Konzeptes / Möblierungsvorschlag</li>
                        <li>Einrichtungskonzept mit koloriertem Grundriss / oder Moodboard</li>
                        <li>Material und Farbkonzept, Beleuchtung, Textilien</li>
                        <li>Präsentation und Besprechung des Konzeptes</li>
                    </ul>

                    <h4>
                        Paket Diamant - Preise sind Richtpreise: ab CHF 1000,-
                    </h4>
                    <ul>
                        <li>Paket Smaragd, Paket Saphir, plus</li>
                        <li>Gesamtkonzept mit Kostenvoranschlag</li>
                        <li>Koordination mit Handwerkern</li>
                        <li>Umsetzung der Wohnideen durch Bencze Design</li>
                    </ul>

                    <p>
                        Der Paketpreis bezieht sich jeweils auf 1 Raum.
                        <br />Preise zuzüglich Fahrkosten.
                    </p>
                </div>
            </div>
        </div>

    </section>
</div>
{% include scripts.html %}
<script>
    l("/css/photoswipe.min.css");
    l("/css/default-skin/default-skin.min.css");
</script>