<footer>    
    <div class="footer-content">
        <ul>
            <li><a href="tel:+41792461549" title="+41 79 246 15 49">+41 79 246 15 49</a></li>
            <li><a href="mailto:info@benczedesign.ch?subject=Bencze Design Kontakt" title="info@benczedesign.ch">info@benczedesign.ch</a></li>
            <li><a href="https://www.facebook.com/Bencze-Design-855219064659721/" title="facebook" class="fb-link"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            <li style="height: 50px;"><a href="https://www.dghr-info.de/" title="DGHR" class="dghr-link"><img src="/img/dghr_logo_mono.png" /></a></li>
        </ul>
    </div>
</footer>