<header>
    <div id="logo">
        <a href="{{ site.github.url }}/front.html">
            <img src="{{ site.github.url }}/img/logo.png" />
            <h1>Bencze Design</h1>
        </a>        
    </div>
    <nav>
        <ul>
            <li><a href="{{ site.github.url }}/offer.html">Angebot</a></li>
            <li><a href="{{ site.github.url }}/gallery.html">Galerie</a></li>
            <li><a href="{{ site.github.url }}/contact.html">Kontakt</a></li>
        </ul>          
    </nav>
</header>