<header>
    <div class="header-content">
        <div id="logo">
            <a href="/index.html">
                <h1>
                    <img src="/img/logo.png" title="Bencze Design" alt="Bencze Design"/>
                </h1>
            </a>
        </div>
        <nav>
            <ul>
                <li><a class="nav-link" href="/offer.html">Angebot</a></li>
                <li><a class="nav-link" href="/gallery.html">Galerie</a></li>
                <li><a class="nav-link" href="/contact.html">Kontakt</a></li>
            </ul>
        </nav>
    </div>
</header>