<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{ site.github.url }}/css/photoswipe.css" rel="stylesheet" />
    <link href="{{ site.github.url }}/css/default-skin/default-skin.css" rel="stylesheet" /> 
    <link href="{{ site.github.url }}/css/reset.css" rel="stylesheet" />
    <link href="{{ site.github.url }}/css/site.css?v=0.1" rel="stylesheet" />    
</head>
<body>
    {% include header.html %}
    <div id="content">
        {{ content }}
    </div>
    {% include ga.html %}
</body>
</html>